.wy-nav-side{
    position:fixed;
}

.wy-menu-vertical ul li a.current{
      background-color: #2980B9;
}

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    margin-bottom: 0;
}

/* Code blocks */
pre > code {
    display: block;
    font-size: 12px;
    white-space: inherit;
    max-width: inherit;
    background: transparent;
    border: none;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
}
pre > code.hljs {
    background: transparent;
}
pre{
    border: 1px solid #e1e4e5;
    background: #fff;
    margin: 1px 0 24px 0;
}
table{
    background: #fff;
    margin-bottom: 20px;
    margin-top: 10px;
}
tbody td, thead th{
    padding: 5px 10px;
    vertical-align: left;
    border: 1px solid #e1e4e5;
}
