.wy-nav-side{
    position:fixed;
}

.wy-menu-vertical ul li a.current{
      background-color: #2980B9;
}

.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    margin-bottom: 0;
}

li.toctree-l2{
    font-size: 0.9rem;
}

li.toctree-l2 a{
    padding-left: 3em;
}

.codetabs > pre{
    display: none;
}

.codetabs > pre[class*="language-"]{
    margin-top: 0;
}

.tabselector button{
    margin-right: 8px;
    border-radius: 0;
    box-shadow: none;
}

h1{
    font-size: 225%;
}

h2{
  font-size: 180%;
  text-decoration: underline;
  color: #2980B9;
  margin-top: 50px;
}

h5{
    margin-left: -48px;
    font-size: 225%;
    font-family: monospace;
    margin-top: 50px;
    margin-bottom: 15px;
}

h5 i{
    font-size: 75%;
}

h6{
    font-size: 150%;
    margin-bottom: 15px;
}

footer{
    display: none;
}

/* Code blocks */
pre > code {
    display: block;
    font-size: 12px;
    white-space: inherit;
    max-width: inherit;
    background: transparent;
    border: none;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
}
pre > code.hljs {
    background: transparent;
}
pre{
    border: 1px solid #e1e4e5;
    background: #fff;
    margin: 1px 0 24px 0;
}
table{
    background: #fff;
    margin-bottom: 20px;
    margin-top: 10px;
}
tbody td, thead th{
    padding: 5px 10px;
    vertical-align: left;
    border: 1px solid #e1e4e5;
}
